<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Hello {{name}},</p>
    <p>Please press
      <a href={{resetPasswordLink}}> here</a>
      to change your password.</p>
    <br /><br />
    <p><b>This is a test email. When you click on the link, nothing will happen.</b></p>
  </body>

</html>