<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <p>Hello,</p>
    <p>Please press
      <a href={{verificationLink}}> here</a>
      to verify your account.</p>
    <br /><br />
    <p>If your link has expired, click
      <a href={{resendVerificationLink}}> here</a>
      to get a new link.</p>
  </body>

</html>